@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Paytone+One&display=swap");

*::before,
*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  /* width: 100%; */
  font-family: "Hind Vadodara", sans-serif !important;
}